{% extends 'pages/base.html' %} {% load static %} {% block content %} 

<!-- Main -->
<div id="main" class="alt">
  <!-- One -->
  <section id="one">
    <div class="inner">
      <header class="major">
        <h1>Information and Troubleshooting</h1>
      </header>
      <ul class="alt">
        <h4>Information:</h4>
        <li><a href="{% url 'jetpu_info' %}">Jet Pumps</a></li>
        <li><a href="{% url 'subpu_info' %}">Submersible Pumps</a></li>
        <li><a href="{% url 'tanks_info' %}">Pressure Tanks</a></li>
        <li><a href="{% url 'pres_info' %}">Water Pressure & Friction</a></li>
        <li><a href="{% url 'wiresizing_info' %}">Wire Sizing</a></li>
      </ul>
      <br />
      <ul class="alt">
        <h4>Troubleshooting:</h4>
        <li><a href="{% url 'jetpu_tr' %}">Jet Pumps</a></li>
        <li><a href="{% url 'subpu_tr' %}">Submersible Pumps</a></li>
      </ul>
    </div>
  </section>
</div>
{% endblock %}
