{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Brown Well & Water Supply</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <noscript
      ><link rel="stylesheet" href="{% static 'css/noscript.css' %}"
    /></noscript>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt style2">
        <a href="{% url 'index' %}" class="logo"
          ><strong>BWWS</strong> <span>Established in 1868</span></a
        >
        <nav>
          <a href="#menu">Menu</a>
        </nav>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <ul class="links">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'timesheet' %}">Timesheet</a></li>
          <li><a href="{% url 'tools' %}">Tools</a></li>
          <li><a href="{% url 'info' %}">Info & Troubleshooting</a></li>
        </ul>
        <ul class="actions stacked">
          <li><a href="#" class="button fit">Log In</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main" class="alt">
        <!-- One -->
        <section id="one">
          <div class="inner">
            <header class="major">
              <h1>Wire Sizing Table</h1>
            </header>
            <p>
              The Franklin Submersible Motor Application Installation &
              Maintenance (AIM) Manual contains cable-sizing tables. A copy of
              one of the tables for single phase motors is shown below. These
              tables list the maximum number of feet of each size cable you can
              run from the <u>service entrance</u> to the motor for each
              horsepower motor based on a maximum 5% voltage drop.
            </p>
            <p>
              From the table below, 14 gauge pump cable is suitable for use with
              a 1 HP 230 Volt motor located no more than 250 feet from the
              service entrance.
            </p>
            <blockquote>
              The squares above the zeros show lengths in <b>bold</b>. These
              lengths only meet the National Electric Code (NEC) ampacity
              requirements for individual conductors (not jacketed) in free air
              or water, not in conduit. The lengths not in bold meet the
              requirements for individual conductors or jacketed cable in free
              air, in water, and in conduit. Flat jacketed and flat parallel are
              both considered jacketed.
              <blockquote>
                <strong>Fact: </strong> The magnetic field created by the
                current in a wire can cause heating in a conduit. This is called
                inductive heating, and it normally requires a high current to be
                noticeable. Conduit will never be hot (to the touch) if the wire is properly sized.
              </blockquote>
            </blockquote>

            <div class="table-wrapper">
              <table class="alt">
                <th>Motor Rating</th>
                <th>75° C Insulation - AWG Copper Wire Size</th>
              </table>
              <table class="alt"> 
                <th><u>Volts</u></th>
                <th><u>HP</u></th>
                <th><u>KW</u></th>
                <th>14</th>
                <th>12</th>
                <th>10</th>
                <th>8</th>
                <th>6</th>
                <th>4</th>
                <th>3</th>
                <th>2</th>
                <th>1</th>
                <th>0</th>
                <th>00</th>
                <th>000</th>
                <th>0000</th>
                <tbody>
                  <tr>
                    <td><u>115</u></td>
                    <td><u>1/2</u></td>
                    <td><u>.37</u></td>
                    <td>100</td>
                    <td>160</td>
                    <td>250</td>
                    <td>390</td>
                    <td>620</td>
                    <td>960</td>
                    <td>1190</td>
                    <td>1460</td>
                    <td>1780</td>
                    <td>2160</td>
                    <td>2630</td>
                    <td>3140</td>
                    <td>3770</td>
                  </tr>
                  <tr>
                    <td><u>230</u></td>
                    <td><u>1/2</u></td>
                    <td><u>.37</u></td>
                    <td>400</td>
                    <td>650</td>
                    <td>1020</td>
                    <td>1610</td>
                    <td>2510</td>
                    <td>3880</td>
                    <td>4810</td>
                    <td>5880</td>
                    <td>7170</td>
                    <td>8720</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><u>230</u></td>
                    <td><u>3/4</u></td>
                    <td><u>.55</u></td>
                    <td>300</td>
                    <td>480</td>
                    <td>760</td>
                    <td>1200</td>
                    <td>1870</td>
                    <td>2890</td>
                    <td>3580</td>
                    <td>4370</td>
                    <td>5330</td>
                    <td>6470</td>
                    <td>7870</td>
                    <td>9380</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><u>230</u></td>
                    <td><u>1</u></td>
                    <td><u>.75</u></td>
                    <td>250</td>
                    <td>400</td>
                    <td>630</td>
                    <td>990</td>
                    <td>1540</td>
                    <td>2380</td>
                    <td>2960</td>
                    <td>3610</td>
                    <td>4410</td>
                    <td>5360</td>
                    <td>6520</td>
                    <td>7780</td>
                    <td>9350</td>
                  </tr>
                  <tr>
                    <td><u>230</u></td>
                    <td><u>1.5</u></td>
                    <td><u>1.1</u></td>
                    <td>190</td>
                    <td>310</td>
                    <td>480</td>
                    <td>770</td>
                    <td>1200</td>
                    <td>1870</td>
                    <td>2320</td>
                    <td>2850</td>
                    <td>3500</td>
                    <td>4280</td>
                    <td>5240</td>
                    <td>6300</td>
                    <td>7620</td>
                  </tr>
                  <tr>
                    <td><u>230</u></td>
                    <td><u>2</u></td>
                    <td><u>1.5</u></td>
                    <td>150</td>
                    <td>250</td>
                    <td>390</td>
                    <td>620</td>
                    <td>970</td>
                    <td>1530</td>
                    <td>1910</td>
                    <td>2360</td>
                    <td>2930</td>
                    <td>3620</td>
                    <td>4480</td>
                    <td>5470</td>
                    <td>6700</td>
                  </tr>
                  <tr>
                    <td><u>230</u></td>
                    <td><u>3</u></td>
                    <td><u>2.2</u></td>
                    <td><b>120</b></td>
                    <td>190</td>
                    <td>300</td>
                    <td>470</td>
                    <td>750</td>
                    <td>1190</td>
                    <td>1490</td>
                    <td>1850</td>
                    <td>2320</td>
                    <td>2890</td>
                    <td>3610</td>
                    <td>4470</td>
                    <td>5550</td>
                  </tr>
                  <tr>
                    <td><u>230</u></td>
                    <td><u>5</u></td>
                    <td><u>3.7</u></td>
                    <td>0</td>
                    <td><b>110</b></td>
                    <td>180</td>
                    <td>280</td>
                    <td>450</td>
                    <td>710</td>
                    <td>890</td>
                    <td>1110</td>
                    <td>1390</td>
                    <td>1740</td>
                    <td>2170</td>
                    <td>2680</td>
                    <td>3330</td>
                  </tr>
                  <tr>
                    <td><u>230</u></td>
                    <td><u>7.5</u></td>
                    <td><u>5.5</u></td>
                    <td>0</td>
                    <td>0</td>
                    <td><b>120</b></td>
                    <td>200</td>
                    <td>310</td>
                    <td>490</td>
                    <td>610</td>
                    <td>750</td>
                    <td>930</td>
                    <td>1140</td>
                    <td>1410</td>
                    <td>1720</td>
                    <td>2100</td>
                  </tr>
                  <tr>
                    <td><u>230</u></td>
                    <td><u>10</u></td>
                    <td><u>7.5</u></td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><b>160</b></td>
                    <td>250</td>
                    <td>390</td>
                    <td>490</td>
                    <td>600</td>
                    <td>750</td>
                    <td>930</td>
                    <td>1160</td>
                    <td>1430</td>
                    <td>1760</td>
                  </tr>
                  <tr>
                    <td><u>230</u></td>
                    <td><u>15</u></td>
                    <td><u>11</u></td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><b>170</b></td>
                    <td>270</td>
                    <td>340</td>
                    <td>430</td>
                    <td>530</td>
                    <td>660</td>
                    <td>820</td>
                    <td>1020</td>
                    <td>1260</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <ul class="copyright">
            <li>&copy; NOLOdev</li>
            <li>Theme: HTML5 UP</li>
          </ul>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'js/browser.min.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
